<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/auth/reset-password">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="New password"
      />
      <input
        type="password"
        id="password-confirm"
        placeholder="Confirm password"
      />
      <input type="submit" name="visual" value="Change password" />
    </form>
    <script>
      const token = "{{.Token}}";
      const form = document.forms[0];
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        if (
          document.getElementById("password").value !=
          document.getElementById("password-confirm").value
        ) {
          alert("Passwords are not same");
        }

        fetch(form.action, {
          method: "PATCH",
          headers: {
            "Content-type": "application/json; charset=UTF-8",
            Accept: "application/json",
          },
          body: JSON.stringify({
            token: token,
            password: document.getElementById("password").value,
          }),
        })
          .then((response) => {
            console.log("PATCH Response.status: ", response.status);
            if (response.status !== 204) return response.json();
            else return response.statusText;
          })
          .then((data) => {
            alert(data.status ? "Success" : "Failure");
            console.log(data.message);
          });
      });
    </script>
  </body>
</html>
